{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Story PPW</title>
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
    <link href="{% static 'lab_1.css' %}" type="text/css" rel="stylesheet">
    <style>
        body{
            background-color : grey;

        }
        h1{
            font-size : 75px;
            color : black;
            font-family: Muli;
            margin-top : 5px;
            margin-bottom : 0px;
        }
        h2{
            font-size : 50px;
            font-family : Muli;
            margin-top : 10px;
            margin-bottom : 0px;
        }
        p {
            font-size: 20px;
            font-family: Muli;
            margin : 10px;
        }
        img {
            border-radius: 50%;
            margin-top :50px;
        }
        .center {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class = "center">
        <img src="{% static 'foto.jpg' %}" style="width:300px;height:300px;">
        <h1> About Me </h1>
        <p> Nama : Daniel Martin </p>
        <p> NPM : 1806204921 </p>
        <p> Angkatan : 2018 </p>
        <p> Hobi : Mencari makan </p>
        <p> Kuliah : Universitas Indonesia </p>
        <p> Deskripsi : Hanya seorang mahasiswa mengerjakan tugasnya </p> 
    </div>
</body>    
</html>